:root {
  --hover: #434242ca;
  --hoverin: #FD263D;
  --nav:bgcc;
  --bgcc: #000000;
  --BGC: #FD263D;
  --white: #ffffff;
  --text: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Gilroy', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  min-height: 100vh; /* Adjusted to min-height for responsiveness */
  width: 100%;
  position: relative;
  background-color: var(--bgcc);
}

nav {
  background-color: var(--nav);
  height: 50px;
  width: 100%; /* Adjusted for responsiveness */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  border-bottom: .7px solid black;
}

.nav_items {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 4vw;
  margin-left: auto;
}

nav h1 {
  color: var(--text);
  font-size: 2vw; /* Adjusted for responsiveness */
  font-weight: 700;
}

.nav_items a {
  color: var(--text);
  font-size: 1.2vw;
  font-weight: 700;
  text-decoration: none;
}

.nav_items > a:hover {
  background-color: var(--hover);
  padding: 0.8vw 1vw;
  color: var(--hoverin);
  border-radius: 5px;
  border: none;
}

.nav_items button {
  color: var(--text);
  font-size: 1vw;
  padding: 0.8vw 1.2vw;
  background-color: var(--BGC);
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

.nav_items button a {
  color: var(--white);
}

.nav_items button:hover {
  text-decoration: underline;
  text-decoration-color: var(--white);
}

nav img {
  height: 40px;
  display: none;
}

.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Added for responsiveness */
}

.left {
  width: 100%; /* Adjusted for responsiveness */
  padding: 5vw; /* Adjusted for responsiveness */
}

.left h1 {
  font-size: 4vw;
  line-height: 1.2; /* Adjusted for responsiveness */
}

.left p {
  font-size: 1.2vw;
  font-weight: 600;
  color: #7c7c7c;
  width: 100%; /* Adjusted for responsiveness */
  margin-top: 2vw;
  margin-bottom: 4vw;
}

.left button {
  font-size: 1.5vw;
  padding: 1.3vw 2vw;
  font-weight: 700;
}

.left > button > a:hover {
  text-decoration: underline;
  text-decoration-color: var(--white);
}

.right {
  width: 100%; /* Adjusted for responsiveness */
}

.right img {
  width: 100%;
  height: auto; /* Adjusted for responsiveness */
  opacity: 60%;
}

@media (min-width: 600px) {
  nav {
    height: 100px;
  }

  .nav_items a {
    font-size: 4vw;
    display: none;
  }

  nav img {
    display: block;
  }

  .content {
    flex-direction: row; /* Reverted back to row layout for larger screens */
  }

  .left {
    width: 55%;
    padding: 0 5vw;
  }

  .right {
    width: 45%;
  }
}
